@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #e5e5e5; 
    box-sizing: border-box;
    color:darkblue;
    
}
.logo{
    margin-left: 13rem;
    width:2rem;
    height:2rem;

}
.presentacion{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:5rem;
    margin-top: 2.5rem;

}
.presentacion__contenido{
    display:flex;
    flex-direction:column;
    justify-content:  space-between;
    
    
}
.presentacion__botones{
    display:flex;
    flex-direction: column;
    padding: 0px 0.625rem 0.625rem;
    justify-content: center;

}
.modelo__botones{
    justify-content: flex-end;
    margin-left: 15rem;
}
.advertencia{
    padding: 0px 0px 0.625rem;
    margin:0%;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    color: gray;



    

}
.presentacion__frase__Usuario{
    display:flex;
    margin-top: 1rem;
    margin-left: 15rem;
    margin-bottom: 35rem;
    width: 42.5rem;
    height: 18rem;
    border: 0;
    background-color: #e5e5e5;
    color: darkblue;
}
.fraseUsuario{
    border: 0;
    margin: 1rem;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    background-color: #e5e5e5;
    color:darkblue;
    

}
textarea[type="text"]::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: darkblue; 
} 
.icono{
    padding: 0% 0px 0.625rem;
    width:0.625rem;
    height: 0.625rem;

}
.presentacion__advertencia{
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-left: 15rem;
}
.boton__encriptador{
    width: 20.5rem;
    height: 4.18rem;
    background-color: darkblue;
    border-radius: 1.5rem;
    border-color:black;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;

}
.boton__desencriptador{
    width: 20.5rem;
    height: 4.2rem;
    background-color: #d8dfe8;
    border-radius: 1.5rem;
    border-color: darkblue;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: darkblue;

}
.presentacion__resultado{
    display: flex;
    border-radius: 1.5rem;
    flex-direction: column;
    background-color: white;
    width: 25rem;
    height: 59rem; 
    margin-right: 2.0rem;

   
}
.imagen{
    margin-top: 15rem;
    width: 100%;
    height: 40%;
}
.mensaje1{
    margin: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.alineacion__mensaje{
    text-align: center;
}
.mensaje2{
    margin: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
}
.mostrar__resultado{
    display: flex;
    border-radius: 1.5rem;
    background-color: white;
    width: 25rem;
    height: 59rem; 
    margin-right: 2.0rem;
    flex-direction: column;
    justify-content: flex-end;
}
.resultado{
    width: 20rem;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    overflow-wrap: break-word;

}
.boton__copiar{
    width: 20.5rem;
    height: 4.2rem;
    background-color: #d8dfe8;
    border-radius: 1.5rem;
    border-color: darkblue;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: darkblue;
    margin-bottom: 1rem;
    margin-top: 15rem;
    align-self: last baseline;
}
footer{
    background-color: #38AECC;
    display:flex;
    align-items: center;
    justify-content:  space-evenly;
    
}
.mensaje__footer1{
    color:#136F63;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
}
.mensaje__footer2{
    color:#136F63;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
}
.presentacion__enlaces__link{
    width: 50%;
    text-align: center; 
    padding: 21.5px 0;
    border-radius:8px;
    font-family: var(--fuente-montserrat);
    font-size:1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px; 
}
.presentacion__enlaces__link:hover{
    color: #136F63
}
@media(max-width: 768px){
    .presentacion{
        flex-direction: column;
    }
    .imagen{
        display: none;
    }
    .presentacion__resultado{
        width: 700px;
        margin-left:16rem;
    }
    .mostrar__resultado{
        width: 700px;
        margin-left:16rem;

    }

}
@media(max-width: 375px){
    .presentacion{
        flex-direction: column;
    }
    .imagen{
        display: none;
    }
    .modelo__botones{
        justify-content: center;
        flex-direction: column;
    }
    .presentacion__resultado{
        width: 320px;
        margin-left:16rem;
    }
    .mostrar__resultado{
        width: 320x;
        margin-left:16rem;

    }
}